<div class="footer-container">
    <footer id="footer" class="text-center text-white mt-4">
    <div class="container pt-4" style="color: black;">
      Hier finden Sie alle rechtlichen Informationen. <br />
      Bei Kleiderspende Sauerland e.V. handelt es sich um einen eingetragenen Verein. <br />
      Alle Rechte unterliegen der Rechtsform des eingetragenen Vereins.
    </div>
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2); color: rgb(235, 229, 229);">
      © 2023 Copyright: Kleiderspende Sauerland
    </div>
    </footer>
  </div>